bucket: nn-uct
paths:
  main_script: "~/deepEMIA/main.py"
  split_dir: "~/split_dir"
  category_json: "~/deepEMIA/dataset_info.json"
  eta_file: "~/deepEMIA/config/eta_data.json"
  logs_dir: "~/logs"
  output_dir: "~/deepEMIA/output"
  local_dataset_root: "~"
scale_bar_rois:
  default:
    x_start_factor: 0.667
    y_start_factor: 0.866
    width_factor: 1
    height_factor: 0.067
scalebar_thresholds:
  intensity: 150
  proximity: 50
admin_password: "admin"
measure_contrast_distribution: false
rcnn_hyperparameters:
  default:
    R50:
      base_lr: 0.00025
      ims_per_batch: 2
      warmup_iters: 1000
      gamma: 0.1
      batch_size_per_image: 64
    R101:
      base_lr: 0.00025
      ims_per_batch: 2
      warmup_iters: 1000
      gamma: 0.1
      batch_size_per_image: 64
  best:
    R50: {}
    R101: {}